@mixin posAbs($top:50%) {
	position:absolute;
	left:50%;
	top:$top;
	transform:translate(-50%,-50%);
}

@mixin clipPath($right-bottom:80%) {


	@supports(clip-path:polygon(0 0)) or (-webkit-clip-path:polygon(0 0)){
		-webkit-clip-path:polygon(0% 0%,100% 0%,100% $right-bottom,0% 100%);
		clip-path:polygon(0% 0%,100% 0%,100% $right-bottom,0% 100%);

		@include respond(tab-port) {
			-webkit-clip-path:polygon(0% 0%,100% 0%,100% 85%,0% 100%);
			clip-path:polygon(0% 0%,100% 0%,100% 85%,0% 100%);
		}
	}
	
}

@mixin clearFix {
	&::after {
		content:"";
		display:block;
		clear:both;
	}
}

@mixin background-img-gradient($img) {


	@media(min-resolution:192dpi) and (min-width:37.5em),
		(-webkit-min-device-pixel-ratio:2) and (min-width:37.5em){
		background-image:linear-gradient(
			to right bottom,
			rgba($light-green,.9),
			rgba($dark-green,.7)
		),
		url("../img/#{$img}.jpg");
	}

	background-image:linear-gradient(
		to right bottom,
		rgba($light-green,.9),
		rgba($dark-green,.7)
	),
	url("../img/#{$img}-small.jpg");
	background-size:cover;

	
}

@mixin text-gradient {
	background-image:$gradient-green;
	display:inline-block;
	-webkit-background-clip:text;
	color:transparent;
}

/* media manager */

/*0->600px:phone
600px->900px:tablet portrait
900px->1200px:tablet landscape
1200->1800:normal
1800-> + :big desktop*/

@mixin respond($breakpoint) {
	
	@if $breakpoint == tab-land {
		@media (max-width:em(1200)) {@content;}
	}
	@elseif $breakpoint == tab-port{
		@media (max-width:em(900))
		{@content;}
	}
	@elseif $breakpoint == phone {
		@media (max-width:em(600))
		{@content;}
	}
	@elseif $breakpoint == big-desk {
		@media (min-width:em(1800)){@content;}
	}
	
}

