//colors 

$light-green:#7ed56f;
$dark-green:#28b485;

$light-orange:#ffb900;
$dark-orange:#ff7730;

$light-blue: #2998ff;
$dark-blue: #5643fa;

$light-grey:#f7f7f7;
$dark-grey:#777;

$white:#fff;
$black:#000;

/* gutters */

$gutter-vertical:4em;
$gutter-vertical-small:$gutter-vertical / 2;
$gutter-horizontal:2em;


$gradient-green:linear-gradient(to right bottom,$light-green,$dark-green);

//fonts

$fs:16;